html {
  background: #FFFFCC;
}

body {
  font-family: Helvetica, sans-serif;
}

h1 { font-weight: bold;
     font-size: 28px;
     text-align: center;
     padding: 28px 0px 28px 0px;
}


h2 { font-weight: bold;
     font-size: 16px;
      




}
div.photo img {

  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
