html {
  background: rgb(255,255,240);
}

body {
  font-family: Helvetica, sans-serif;
  max-width:850px;
  margin:0 auto;
}

h1 { font-weight: bold;
     font-size: 28px;
     text-align: center;
     padding: 28px 0px 28px 0px;
}


ul.heading { text-align: center;
     font-size: 18px;
     padding: 12px 0px 16px 0px;

}

h2 { font-weight: bold;
     font-size: 18px;
     padding: 18px 0px 12px 0px;
      
}

ul.tasks li { font-size: 14px;
           padding: 12px 0px 12px 6px;
           list-style-type: disc;

            margin-left:5em;
}

h3.company { font-size:14px;
              font-weight:bold;
}

p.job_title { font-size: 12px;
                font-style: underline;
                padding: 12px 0px 12px 30px;
}

h4.dates { font-style: italic;
           text-align: right;
           font-size: 12px;

}




div.photo img {

  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
