html {
  background: rgb(255,255,240);
}

body {
  font-family: Helvetica, sans-serif;
}

h1 { font-weight: bold;
     font-size: 28px;
     text-align: center;
     padding: 28px 0px 28px 0px;
}


ul.heading { text-align: center;
     font-size: 20px;


}

h2 { font-weight: bold;
     font-size: 16px;
     padding: 18px 0px 12px 18px;
      

}

ul.tasks { font-size: 14px;
           padding: 12px 0px 12px 6px;
           list-style-type: disc;

            margin-left:15em;
}


div.photo img {

  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
